.favorite-page-container {
  display: flex;
  flex-direction: column;
}

.favorite-category {
  gap: 1.5em;
  height: 100%;
  justify-content: center;
}

.favorite-category > button {
  width: 18%;
}

.favorite-category p {
  font-size: 15px;
}


.favorite-card-container {
  align-items: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.2em;
  width: 90%;
}

.image-link {
  width: 50%;
}

.favorite-card {
  border: 0.5px solid #b1b1b1;
  border-radius: 7px;
  display: flex;
  height: 100%;
  position: relative;
}

.image-link > img {
  border-radius: 7px 0 0 7px;
  width: 100%;
}

.test {
  background: blue;
  width: 100%;
}

.favorite-button-container button {
  background-color: transparent;
  border: none;
}

.link {
  color: black;
  margin: 1.6em 1em;
  text-decoration: none;
}

.favorite-card h2 {
  font-size: 18px;
  font-weight: 700;
  overflow-wrap: anywhere;
}

.favorite-card h5 {
  color: #797d86;
  font-size: 15px;
  font-weight: 300;
  overflow-wrap: anywhere;
}


.favorite-button-container {
  bottom: 1.4em;
  display: flex;
  position: absolute;
  right: 5.5em;
}

.favorite-button-container > button {
  margin-left: 1.2em;
  width: 1.8em;
}

.favorite-button-container img {
  width: 100%;
}

@media only screen and ( max-width : 376px ) {

  .favorite-category {
    gap: 1em;
  }

  .favorite-button-container {
    right: 4em;
  }
}
