.header-container {
  display: flex;
  flex-direction: column;

}

.navbar-container {
  background: #fcdc36;
  display: flex;
  justify-content: space-between;
  padding: 0.3em 1.6em;
}

.header-logo-container {
  display: flex;
  gap: 1.2em;
}

.header-button-container {
  align-items: center;
  display: flex;
  gap: 1.3em;
}

.header-button {
  background: transparent;
  border: none;
}

.header-written-logo {
  margin-top: 0.3em;
}

.header-title {
  color: white;
  font-size: 2px;
}

.header-component-logo {
  align-self: center;
  height: 95px;
  margin: 1.5em;
}

@media only screen and ( max-width : 376px ) {

  .navbar-container {
    padding: 0.2em 1.6em;
  }

  .header-meals-logo {
    margin: 0.8em;
  }
}
